@blue_color : #39b8eb;
@yellow_color : #ffab32;
@bg_color : #eee;
@border_color : #cdcdcd;
@font-black-color : #454545;
@font-gray-color : #989898;
@font-light-color : #cdcdcd;

*{

}

a:hover, a:focus{
	text-decoration: none;
}

.hw-full-container{
	.navbar-brand{
		padding: 5px;
	}
}


.hw-blue-button{
	background: @blue_color;
	color: #fff;
	line-height: 40px;
	padding: 0 15px;
	display: inline-block;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	width: 100%;



	&:hover{
		color: @bg_color;
		background: #039bbb;
	}
}

.hw-line{
	height: 0;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #dedede;
}

.hw-pager-header{
	margin: 10px 0;
	border-bottom: 1px dashed @blue_color;
	padding: 0 0 20px 0;

	h4{

	}
}

@import "layout";
@import "tpl";
@import "main";
@import "space";