.hw-blue-button {
  background: #39b8eb;
  color: #fff;
  line-height: 40px;
  padding: 0 15px;
  display: inline-block;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  width: 100%;
}
.hw-blue-button:hover {
  color: #eeeeee;
  background: #039bbb;
}
.hw-line {
  height: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #dedede;
}
body {
  background: #eeeeee;
}
.container {
  max-width: 960px;
}
.hw-tpl-filterBox {
  min-height: 120px;
  background: red;
}
.hw-wg-list {
  margin: 0px -10px;
}
.hw-wg-item {
  position: relative;
  text-align: left;
  padding: 0;
  padding-left: 85px;
  display: block;
  margin: 15px 10px 0;
}
.hw-wg-item .hw-img {
  width: 70px;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  border: 1px solid #cdcdcd;
  overflow: hidden;
}
.hw-wg-item .hw-img img {
  width: 70px;
  height: 70px;
}
.hw-wg-item .hw-img label {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  left: 0;
  color: #ffffff;
  font-size: 12px;
  display: block;
  width: 100%;
  height: 20px;
  margin: 0;
  text-align: center;
  line-height: 20px;
}
.hw-wg-item .right {
  border: 1px solid #cdcdcd;
  height: 90px;
  border-radius: 4px;
  padding: 0 8px;
}
.hw-wg-item .right p {
  margin: 0;
}
.hw-wg-item .hw-desc {
  margin-top: 5px;
  font-size: 14px;
  color: #212121;
  overflow: hidden;
  display: inline-block;
}
.hw-wg-item .hw-time {
  font-size: 12px;
  color: #cdcdcd;
}
.hw-wg-navbar {
  margin-top: 12px;
  height: 40px;
  width: 100%;
  background: #39b8eb;
}
.hw-wg-navbar label {
  color: #eeeeee;
  line-height: 40px;
  font-size: 16px;
}
.hw-add-weixinGroup .form-group label {
  text-align: left;
}
