.hw-full-container .navbar-brand {
  padding: 5px;
}
.hw-blue-button {
  background: #39b8eb;
  color: #fff;
  line-height: 40px;
  padding: 0 15px;
  display: inline-block;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  width: 100%;
}
.hw-blue-button:hover {
  color: #eeeeee;
  background: #039bbb;
}
.hw-line {
  height: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #dedede;
}
.hw-pager-header {
  margin: 10px 0;
  border-bottom: 1px dashed #39b8eb;
  padding: 0 0 20px 0;
}
body {
  background: #eeeeee;
}
.container {
  max-width: 960px;
}
.hw-tpl-filterBox {
  height: 40px;
  background: #39b8eb;
  border-top: 1px solid #cdcdcd;
  margin: 0;
}
.hw-tpl-filterBox .row {
  margin: auto;
}
.hw-tpl-filterBox .col {
  overflow: hidden;
  padding: 0;
}
.hw-tpl-filterBox .hw-label {
  font-style: normal;
  line-height: 40px;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 0;
  font-weight: 400;
}
.hw-tpl-filterBox .hw-label .hw-icon {
  color: #ffffff;
}
.hw-tpl-filterBox .hw-label select {
  position: relative;
  background: transparent;
  border: none;
  outline: none;
}
.hw-wg-list {
  margin: 0px -10px;
  padding: 0 0 40px;
}
.hw-wg-item {
  position: relative;
  text-align: left;
  padding: 0;
  padding-left: 85px;
  display: block;
  margin: 15px 10px 0;
}
.hw-wg-item .hw-img {
  width: 70px;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  border: 1px solid #cdcdcd;
  overflow: hidden;
}
.hw-wg-item .hw-img img {
  width: 70px;
  height: 70px;
}
.hw-wg-item .hw-img label {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  left: 0;
  color: #ffffff;
  font-size: 12px;
  display: block;
  width: 100%;
  height: 20px;
  margin: 0;
  text-align: center;
  line-height: 20px;
  font-weight: 400;
}
.hw-wg-item .right {
  height: 90px;
  border-radius: 4px;
  padding: 0 8px;
  position: relative;
  background: #ffffff;
}
.hw-wg-item .right em {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid;
  border-color: transparent #ffffff transparent transparent;
  top: 12px;
  left: -20px;
}
.hw-wg-item .right p {
  margin: 0;
}
.hw-wg-item .right .hw-desc {
  margin-top: 5px;
  font-size: 14px;
  color: #454545;
  display: inline-block;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hw-wg-item .right .hw-time {
  font-size: 12px;
  color: #cdcdcd;
  position: absolute;
  bottom: 2px;
  right: 10px;
}
.hw-wg-navbar {
  height: 40px;
  width: 100%;
  background: #39b8eb;
}
.hw-wg-navbar label {
  color: #eeeeee;
  line-height: 40px;
  font-size: 16px;
}
.hw-add-weixinGroup .form-group {
  margin-top: 10px;
}
.hw-add-weixinGroup .form-group label {
  text-align: left;
}
.hw-add-weixinGroup .form-group label.require:after {
  content: '*';
  color: #f00;
  position: relative;
  top: 2px;
  left: 5px;
}
.hw-wg-item-page {
  position: relative;
  padding-top: 60px;
}
.hw-wg-item-page .c1 {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 0;
}
.hw-wg-item-page .c1 .c_img {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  border: 5px solid #ffffff;
  box-shadow: 0 0 2px #b3b3b3;
}
.hw-wg-item-page .c2 {
  width: 100%;
  min-height: 200px;
  background: #ffffff;
  padding: 60px 15px 40px;
}
.hw-wg-item-page .c2 h4 {
  color: #454545;
  font-size: 20px;
  width: 100%;
  text-align: center;
  font-weight: 400;
  margin-top: 5px;
}
.hw-wg-item-page .c2 .c_des {
  color: #454545;
  font-size: 14px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #39b8eb;
}
.hw-wg-item-page .c2 label {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  color: #454545;
  font-weight: 400;
}
.hw-wg-item-page .c2 label:last-of-type {
  padding-bottom: 10px;
  border-bottom: 1px dashed #39b8eb;
}
.hw-wg-item-page .c2 .c_qr {
  margin: 20px 0px 30px;
}
.hw-wg-item-page .c2 .c_qr img {
  width: 100%;
}
