<template name="addWeixinGroup">


    <form class="hw-add-weixinGroup form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">群名称</label>
            <div class="col-sm-9">
                <input type="text" role="name" class="form-control" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">群行业</label>
            <div class="col-sm-9">
                <input type="text" role="category" class="form-control" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">群标签</label>
            <div class="col-sm-9">
                <input type="text" role="tag" class="form-control" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">群地区</label>
            <div class="col-sm-9">
                <input type="text" role="location" class="form-control" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">群简介</label>
            <div class="col-sm-9">
                <textarea class="form-control js_info" role="description" placeholder=""></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">头像URL</label>
            <div class="col-sm-9">
                <input type="text" role="image" class="form-control" placeholder="">
            </div>
        </div>

        <button type="submit" class="btn hw-blue-button">确认</button>

    </form>



</template>