<template name="addFeed">




    <form class="container hw-add-weixinGroup form-horizontal js_form">

        <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>

        <div class="form-group">
            <label class="col-sm-3 control-label require">题目</label>
            <div class="col-sm-9">
                <input type="text" role="title" class="form-control" placeholder="20字以内">
            </div>
        </div>




        <div class="form-group">
            <label class="col-sm-3 control-label require">正文</label>
            <div class="col-sm-9" id="js_textarea">
                <!--<textarea  style="height: 140px;" class="form-control js_info" role="content" placeholder=""></textarea>-->
            </div>
        </div>

        <div class="form-group" style="display: none;">
            <div class="col-sm-9 js_box">
                <a data-loading-text="上传中..."
                   class="btn hw-blue-button js_uploadbtn" style="width: 120px;">添加图片</a>

                <input type="file" style="opacity: 0;position: absolute;top: 0;width: 120px;height: 40px;" role="upload_image" class="form-control">

                <div style="margin-top: 15px;" class="js_image_box">
                    <!--<img src="" style="width: 50px; height: 50px;display: none;" class="js_img" />-->
                </div>
            </div>
        </div>


        <button style="margin-top: 40px;" data-loading-text="正在提交..." type="button" class="js_btn1 btn hw-blue-button">提交</button>

    </form>

</template>