<template name="weixinGroupList">

    <!--<div class="container">-->
        <!--{{> listFilterBox}}-->
    <!--</div>-->



    <div class="hw-wg-navbar">
        <div class="container">
            <label>海外微信群</label>
        </div>
    </div>

    <div class="container">
        <div class="hw-wg-list row">
            {{#each list}}

                {{> weixinGroupListItem}}

            {{/each}}
        </div>
    </div>




</template>


<template name="weixinGroupListItem">

    <div class="col col-md-4 js_box" style="padding: 0;">
        <div class="hw-wg-item js_link" param="{{_id}}">

            <div class="hw-img">
                <img src="{{this.image}}" />
                <label>{{this.name}}</label>
            </div>

            <div class="right">
                <p class="hw-desc">{{this.description}}</p>

                <p class="hw-time">{{formatDate this.createTime}}</p>
            </div>


        </div>

    </div>

</template>