<template name="weixinGroupList">


    {{> listFilterBox}}


    <!--<div class="hw-wg-navbar">-->
        <!--<div class="container">-->
            <!--<label>海外微信群</label>-->
        <!--</div>-->
    <!--</div>-->

    <div class="container">
        <div class="hw-wg-list row">
            {{#each list}}

                {{> weixinGroupListItem}}

            {{/each}}
        </div>
    </div>




</template>


<template name="weixinGroupListItem">

    <div class="col col-md-4 js_box" style="padding: 0;">
        <div class="hw-wg-item">

            <a href="{{pathFor 'wxSpaceList' sid=wxSpaceId}}" class="hw-img">
                <img src="{{this.image}}" />
                <label>群空间</label>
            </a>

            <a class="right" href="{{pathFor 'wgItem' gid=_id}}">
                <em class=""></em>

                <p class="hw-name">{{name}}</p>
                <p class="hw-desc">{{this.description}}</p>
                <p class="hw-time">{{formatDate this.createTime}}</p>
            </a>


        </div>

    </div>

</template>