<template name="wgItem">

    {{#with data}}
    <div class="hw-wg-item-page">

        <div class="c1">
            <img class="c_img" src="{{image}}" />
        </div>

        <div class="c2">
            <h4>{{name}}</h4>
            <p class="c_des">{{description}}</p>

            <label style="margin-top: 20px;">群主微信 ：{{owner}}</label>
            <label>行业类别 ：{{category}}</label>
            <label>所在区域 ：{{location}}</label>

            <label>群标签 ：{{tag}}</label>
            <label>添加时间 ：{{formatDate createTime}}</label>


            {{#if qrCode}}
                <div class="c_qr"><img src="{{qrCode}}"></div>
            {{/if}}
        </div>



    </div>
    {{/with}}
</template>