<template name="wxSpaceList">


    {{#with space}}
        {{> wxSpaceNameBlock }}
    {{/with}}

    <div class="container hw-container">
        <div class="hw-sp-list row">
            {{#each list}}

                {{> wxSpaceListItem}}

            {{/each}}
        </div>
    </div>


</template>

<template name="wxSpaceNameBlock">
    <div class="hw-wg-item-page">

        <div class="c1">
            <img class="c_img" src="{{image}}" />
        </div>

        <div class="c2 container">
            <h4>{{name}}</h4>
            <p class="c_des">{{description}}</p>

            <!--<label style="margin-top: 20px;">群主微信 ：{{owner}}</label>-->
            <label>行业类别 ：{{category}}</label>
            <label>所在区域 ：{{location}}</label>
            <label>群标签 ：{{tag}}</label>

            <label>目前人数 ：{{memberCount}}</label>

            <label>添加时间 ：{{formatDate createTime}}</label>


                <!--{{#if qrCode}}-->
            <!--<div class="c_qr"><img src="{{qrCode}}"></div>-->
                <!--{{/if}}-->


            <div class="page-header hw-pager-header" style="margin-top: 25px;">
                <small style="text-align: left; font-size: 14px;">想要加入该群？请留下您的微信账号，群主会联系您。</small>

                <div class="input-group" style="margin-top: 10px;">
                    <input type="text" class="form-control js_wx" placeholder="请输入微信账号">
                        <span class="input-group-btn">
                            <button class="btn btn-success js_addbtn" type="button">确认</button>
                        </span>
                </div><!-- /input-group -->

            </div>

            <a class="c_new" href="{{pathFor 'addFeed' sid=wxSpaceId}}">发布新Feed</a>

        </div>


    </div>


</template>

<template name="wxSpaceListItem">

    <a href="{{pathFor 'wxSpaceItemDetail' feedId=_id}}" class="col col-md-12 js_box hw-sp-item">

        <p class="c_tlt">{{title}}</p>
        <p class="c_msg">{{{removeAllTag content}}}</p>

        {{#if images}}
        {{> wxSpaceListImageView}}
        {{/if}}

        <span class="c_time">{{formatDate createTime}}</span>
    </a>

</template>

<template name="wxSpaceListImageView">
    <div class="row c_imgbox">
        {{#each list}}
        <div class="col col-xs-4">
            <img src="{{.}}" />
        </div>
        {{/each}}
    </div>
</template>


<template name="wxSpaceItemDetail">

    <div class="container">
        <div style="padding-bottom: 5px;" class="page-header hw-pager-header">
            <h4 style="font-size: 24px;font-weight: 400;">{{feed.title}}</h4>

            {{#with feed.group}}
            <small>来自 {{name}}</small>
            <small style="float: right;">{{formatDate feed.createTime}}</small>
            {{/with}}


        </div>

        <div class="hw-article">
            {{{decode feed.content}}}

            <!--{{#each feed.images}}-->

                <!--<img src="{{.}}" />-->

            <!--{{/each}}-->
        </div>
    </div>

</template>