<template name="wxSpaceList">


    {{#with space}}
        {{> wxSpaceNameBlock }}
    {{/with}}

    <div class="container hw-container">
        <div class="hw-sp-list row">
            {{#each list}}

                {{> wxSpaceListItem}}

            {{/each}}
        </div>
    </div>


</template>

<template name="wxSpaceNameBlock">
    <div class="hw-full-container hw-sp-card">
        <div class="container box">
            <img src="{{image}}" />
            <p class="c1">{{name}}</p>
            <p class="c2">{{category}}</p>
            <p class="c3">{{description}}</p>

            <a class="c_new" href="{{pathFor 'addFeed' sid=wxSpaceId}}">发布新Feed</a>
        </div>

    </div>

</template>

<template name="wxSpaceListItem">

    <a href="{{pathFor 'wxSpaceItemDetail' feedId=_id}}" class="col col-md-12 js_box hw-sp-item">

        <p class="c_tlt">{{title}}</p>
        <p class="c_msg">{{{removeAllTag content}}}</p>

        {{#if images}}
        {{> wxSpaceListImageView}}
        {{/if}}

        <span class="c_time">{{formatDate createTime}}</span>
    </a>

</template>

<template name="wxSpaceListImageView">
    <div class="row c_imgbox">
        {{#each list}}
        <div class="col col-xs-4">
            <img src="{{.}}" />
        </div>
        {{/each}}
    </div>
</template>


<template name="wxSpaceItemDetail">

    <div class="container">
        <div style="padding-bottom: 5px;" class="page-header hw-pager-header">
            <h4 style="font-size: 24px;font-weight: 400;">{{feed.title}}</h4>

            {{#with feed.group}}
            <small>来自 {{name}}</small>
            <small style="float: right;">{{formatDate feed.createTime}}</small>
            {{/with}}


        </div>

        <div class="hw-article">
            {{{decode feed.content}}}

            <!--{{#each feed.images}}-->

                <!--<img src="{{.}}" />-->

            <!--{{/each}}-->
        </div>
    </div>

</template>